# Linux / remote server default after apt install:
SUMO_HOME=/usr/share/sumo
PYTHONPATH=/usr/share/sumo/tools

WANDB_API_KEY=your-wandb-api-key
WANDB_PROJECT=your-wandb-project
WANDB_ENTITY=your-wandb-entity
